body{
    font-family: sans-serif;
}

.custom-navbar {
    background-color: #05496B;
    padding: 50px auto;
}

.nav-item{
    font-size: 1.8rem;
    margin-right: 15px;
}

.login{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.hero-section {
  background: linear-gradient(to right, #0b78c5, #8fd3f4);
  padding: 50px 0;
}

.hero-img {
  max-width: 100%;
  height: 700px;
  border-radius: 10px;
}

.letter-space {
  letter-spacing: 50px;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.highlight {
    font-weight: 800;
    color: black;
}

.stats-wrapper{
  position:relative;
  max-width:1200px;
  height:420px;
  margin:80px auto;
}

.curve{
  position:absolute;
  width:320px;
  height:180px;
  border:30px solid #d42020;
  border-bottom:none;
  border-radius:280px 280px 0 0;
  top:70px;
}

.curve-left{
  left:-10px;
  top: 50px;
}

.curve-middle{
  left:50%;
  transform:translateX(-50%) rotate(180deg);
  top:210px;
}

.curve-right{
  right:-10px;
  top: 50px;
}

.cards{
  position:relative;
  z-index:2;
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 40px;
}

.card{
  width:220px;
  height:220px;
  background:#fff;
  border-radius:50%;
  box-shadow:0 6px 15px rgba(0,0,0,0.15);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.card h2{
  font-size:32px;
  font-weight:700;
  margin-bottom:8px;
}

.card p{
  font-size:18px;
  font-weight:600;
  line-height:1.3;
}

.promoters-section {
  padding: 30px 0;
  background: #ffffff;
}

.section-title {
  font-size: 2.5rem;
  color: black;
  font-weight: 800;
  margin-bottom: 30px;
}

.section-text {
  max-width: 1250px;
  margin: 0 auto 50px;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #000;
}

.read-more-btn {
  background-color: #0b4d6d;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 10px;
}

.read-more-btn:hover {
  background-color: #083d56;
  color: #fff;
}

.ongoing-section {
  padding: 20px 0;
  margin: 50px auto;
}

.section-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 50px;
}

.project-box {
  margin: 50px auto;
  
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  background-color: #0b5d3b;
  color: #ffffff;
  padding: 100px;
}

.project-content h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.project-content h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffeb00;
  margin-bottom: 30px;
}

.project-details {
  list-style: disc;
  padding-left: 30px;
}

.project-details li {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.testimonials-section {
  background: #000;
  height: 500px;
}

.video-box iframe {
  width: 100%;
  height: 500px;
  border: none;
  padding: 25px;
}

.text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 500px;
}

.text-content h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.text-content p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}

.footer-section {
  background-color: #0a4d6c;
  padding: 60px 0;
  color: #ffffff;
}

.footer-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  opacity: 0.9;
}

.footer-links a:hover {
  text-decoration: underline;
  opacity: 1;
}

.footer-section p {
  font-size: 1.5rem;
  line-height: 1.7;
}

.footer-section i {
  margin-right: 8px;
}